
.theme-center .notice{ margin:40px auto; width:500px; font-size:24px; height:50px; line-height:50px;}
.theme-center .notice span{ background:url(../images/success.png) no-repeat 0 50%; padding-left:40px;}

.theme-center .actions{ margin:40px auto; text-align:center;}
